.clear:after {
  content: '';
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.vc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.h {
  color: #F40;
}
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
div,
input,
button,
section,
header,
footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
fieldset,
img {
  border: none;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
}
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  border: none;
}
table {
  border-collapse: collapse;
}
body {
  color: #333;
  font: 12px/1 "微软雅黑", "Arial Narrow", HELVETICA;
  background: #fff;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
body {
  background-color: #f9f9f9;
}
header {
  position: relative;
  background-color: #fa3432;
  z-index: 10;
}
header .hnav {
  height: 0.94rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  padding: 0 0.3rem;
  font-size: 0.4rem;
}
header .hnav .iconfont {
  font-size: 0.4rem;
  color: #FFF;
}
header .hnav .icon-fanhui {
  font-size: 0.5rem;
}
header .menu {
  position: absolute;
  width: 100%;
  top: 0.94rem;
  background-color: #FFF;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0;
}
header .menu .item {
  height: 0.8rem;
  width: 25%;
  border-left: 1px solid #fa3432;
}
header .menu .item:nth-child(1) {
  border-left: none;
}
header .menu .item .iconfont {
  color: #fa3432;
  display: block;
  margin: 0 auto;
  width: 0.34rem;
  height: 0.34rem;
  font-size: 0.34rem;
}
header .menu .item span {
  display: block;
  color: #fa3432;
  text-align: center;
  font-size: 0.24rem;
  line-height: 0.46rem;
}
.cover {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.menu.on {
  display: flex;
}
.cover.on {
  display: block;
}
footer {
  padding-top: 0.45rem;
  background-color: #FFF;
  border-top: 1px solid #e6e6e5;
  height: 1.65rem;
}
footer .version {
  text-align: center;
  font-size: 0.28rem;
  color: #494848;
}
footer .version a {
  color: #494848;
}
footer .copyright {
  font-size: 0.28rem;
  color: #9A9B9C;
  text-align: center;
  margin-top: 0.22rem;
}
.hlep {
  margin-bottom: 0.3rem;
  padding: 0 0.3rem;
}
.hlep ul {
  padding-top: 0.15rem;
}
.hlep li {
  margin-bottom: 0.1rem;
}
.hlep .hp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0.75rem;
}
.hlep .hp .title {
  font-size: 0.25rem;
  color: #4c4b4b;
}
.hlep .hp p {
  display: flex;
  align-items: center;
}
.hlep .hp p .icon {
  width: 0.58rem;
  height: 0.58rem;
  line-height: 0.58rem;
  text-align: center;
  border-radius: 30%;
  background-color: #fa9a33;
  margin-right: 0.21rem;
}
.hlep .hp p .iconfont {
  font-size: 0.3rem;
  color: #FFF;
}
.hlep .hp .gt {
  font-size: 0.3rem;
  color: #fa8b12;
  font-style: normal;
}
.hotline {
  height: 1.28rem;
  background-color: #FFF;
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.23rem;
}
.hotline .iconline {
  display: block;
  width: 0.78rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  background-color: #22cfd8;
  border-radius: 30%;
  margin-right: 0.28rem;
}
.hotline .iconline .iconfont {
  font-size: 0.4rem;
  color: #FFF;
}
.hotline .phone {
  font-size: 0.24rem;
  margin-bottom: 0.15rem;
}
.hotline .phone span {
  color: #009ecc;
}
.hotline .jobtime {
  font-size: 0.18rem;
  color: #9d9c9c;
}
