@import 'zcm.less';

.plan{background-color: #FFF;.pb(40);}
.lv{
    .h(222);
    background: #d80607;
    background: linear-gradient(to bottom, #ff3c00,#d80607);
    p{
        text-align: center;
        color: #FFF;
    }
    .lx{
        .fs(68);
        .pt(50);
    }
    .desc{
        .fs(30);
        .mt(42);
    }
}
.detaillv{
    .h(79);
    border-bottom: 1px solid #f1f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li{
        width:50%;
        text-align: center;
        .fs(30);
        color: #777;
        &:nth-child(1){
            border-right: 1px solid #f1f0f0;
        };
    }
}
.fadv{
    .plr(55);
    .h(203);
    .mt(30);
    
    background: url(../images/detail_icon_bg.png) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    li{
       width:50%;
       text-align: center;
       .fs(24);
       color: #ffc166;
       .iconfont{
           .w(55);
           .h(55);
           .lh(55);
           text-align: center;
           .fs(28);
           display: inline-block;
           border-radius: 50%;
           border: 1px solid #f5f5f5;
           .mr(13);
       }
    }
}
.proccess{
    .w(682);
    margin: 0 auto;
    .mt(70);
    .jdt{
        position: relative;
        .h(15);
        background-color: #f0f0f0;
        border-radius:8px;
        .probar{
            position: absolute;
            width:0px;
            .h(15);
            background-color: #fb0502;
            border-radius:8px;
            transition: width 3s ease-in-out;
        }
        .pro-block{
            position: absolute;
            .w(60);
            .h(32);
            .lh(32);
            .left(-60/2);
            .top(-50);
            .fs(20);
            .plr(5);
            color: #FFF;
            text-align: center;
            background-color: #fb0502;
            transition: left 3s ease-in-out;
            &:after{
                content: '';
                display: block;
                .triangle-b(10px,#fb0502);
                .mt(3);
                .hc();
            }
        }
        
    }
    .monty{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #808080;
        .fs(22);
        .mt(22);
        .pb(40);
        span{color: #FF0000;}
    }
}
footer{
    padding: 0;
}
.now{
    position: fixed;
    bottom: 0;
    width:100%;
    .h(105);
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    .pl(36);
    .pr(15);
    justify-content: space-between;
    .gs{
       .fs(32);
       color: #f90;
       text-decoration: underline;
    }
    .tz{
        .w(517);
        .h(82);
        .fs(30);
        background-color: #fa3432;
        text-align: center;
        .lh(82);
        color: #FFF;
    }
    .detailc{
        position: absolute;
        .top(-40);
        color: #808080;
        .fs(28);
        .hc;
    }
}
